h1, h2{
    text-align: center;
}

h3 {
    text-align: left;
}

form {
    direction: column;
    border: 1px solid rgba(104, 104, 104, 0.226);
}

body {
    background-color: rgb(37, 0, 0);
    color: aliceblue;
}